# 忽略构建文件夹
build/
Desktop_Qt_6_5_3_MinGW_64_bit-Debug/

# 忽略Qt用户配置文件
Lab5.pro.user
*.pro.user

# 忽略编译生成文件
*.o
*.obj
*.exe
*.dll
*.so
*.app
Makefile*

# 忽略IDE配置文件
.vs/
.vscode/
.idea/

# 忽略系统文件
.DS_Store
Thumbs.db